/* Replace .jd with prefix */
.jd-video {
    position: relative;
}

.jd-video.jd-video-sticky .jd-video-wrapper {
    position: fixed;
    width: 300px;
    margin: 10px;
    z-index: 9999;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.20);
}

.jd-video .jd-video-sticky-close {
    position: fixed;
    z-index: 9999;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    display: none;
}

.jd-video.jd-video-sticky .jd-video-wrapper:hover .jd-video-sticky-close {
    display: block;
}

.jd-video.jd-video-sticky-top-left .jd-video-wrapper {
    top: 0;
    left: 0;
}

.jd-video.jd-video-sticky-top-left .jd-video-sticky-close {
    top: 0;
    left: 0;
    margin-left: 310px;
    margin-top: 10px;
}

.jd-video.jd-video-sticky-top-right .jd-video-wrapper {
    top: 0;
    right: 0;
}

.jd-video.jd-video-sticky-top-right .jd-video-sticky-close {
    right: 0;
    top: 0;
    margin-right: 310px;
    margin-top: 10px;
}

.jd-video.jd-video-sticky-bottom-right .jd-video-wrapper {
    bottom: 0;
    right: 0;
}

.jd-video.jd-video-sticky-bottom-right .jd-video-sticky-close {
    bottom: 0;
    right: 0;
    margin-bottom: 10px;
    margin-right: 310px;
}

.jd-video.jd-video-sticky-bottom-left .jd-video-wrapper {
    bottom: 0;
    left: 0;
}

.jd-video.jd-video-sticky-bottom-left .jd-video-sticky-close {
    bottom: 0;
    left: 0;
    margin-left: 310px;
    margin-bottom: 10px;
}

.jd-video-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    z-index: 1;
}

.jd-video-placeholder {
    background: gray;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    position: absolute;
    top: 0;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b3b3b3;
}

.jd-video.jd-video-sticky .jd-video-placeholder {
    position: relative;
}

.jd-video-wrapper::before,
.jd-video-placeholder::before {
    display: block;
    content: "";
}

.jd-video-wrapper.jd-video-size-16by9::before,
.jd-video-placeholder.jd-video-size-16by9::before {
    padding-top: 56.25%;
}

.jd-video-wrapper.jd-video-size-21by9::before,
.jd-video-placeholder.jd-video-size-21by9::before {
    padding-top: 42.857143%;
}

.jd-video-wrapper.jd-video-size-4by3::before,
.jd-video-placeholder.jd-video-size-4by3::before {
    padding-top: 75%;
}

.jd-video-wrapper.jd-video-size-1by1::before,
.jd-video-placeholder.jd-video-size-1by1::before {
    padding-top: 100%;
}

.jd-video-loading {
    position: absolute;
    width: 60px;
    height: 60px;
    right: 0;
    top: 0;
    z-index: 2;
    display: none;
}

.jd-video-play {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

.jd-video-play span.jd-video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.jd-video-play video {
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 0;
}

.jd-video-play .jd-video-thumbnail {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

.jd-video-thumbnail img {
    width: 100%;
}

.jd-video-play .jd-video-playicon {
    z-index: 2;
}

.jd-video-sticky .jd-video-playicon {
    font-size: 60px;
}

.jd-video-player {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
}

.jd-video-player iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.jd-video-playicon {
    position: absolute;
    font-size: 100px;
    font-family: Helvetica, Arial, sans-serif;
    display: block;
    width: 150px;
    height: 150px;
    margin-left: -75px;
    margin-top: -75px;
    top: 50%;
    left: 50%;
    text-align: center;
    line-height: 150px;
}

.jd-video-playicon span {
    display: block;
}

video {
    background: #000;
}